<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <instrumentation android:name="com.moyue.reader.feature.markdown.MarkdownSmokeInstrumentation" android:targetPackage="com.moyue.reader" />
    <instrumentation android:name="com.moyue.reader.feature.pdf.PdfSnapshotInstrumentation" android:targetPackage="com.moyue.reader" />
    <instrumentation android:name="com.moyue.reader.feature.image.VisualSmokeInstrumentation" android:targetPackage="com.moyue.reader" />
    <instrumentation android:name="com.moyue.reader.feature.image.VisualUiInstrumentation" android:targetPackage="com.moyue.reader" />
    <instrumentation android:name="com.moyue.reader.feature.reader.WebReaderSmokeInstrumentation" android:targetPackage="com.moyue.reader" />
</manifest>
